@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;600;700&display=swap');

:root {
    --corbranca: whitesmoke;
    --cor1: #1d1d1d;
    --cor2: #22252A;
    --cor3: #000000;
    --cor4: #FDBA12;
    --cor5: #FF0000;
    --cor6: rgba(128, 128, 128, 0.486);
}

* {
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    margin: 0;
}

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    margin-bottom: 50px;
    background-color: var(--cor1);
}

h1 {
    color: white;
    cursor: pointer;
}

#rafael {
    color: var(--cor5);
}

.optHeader {
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    height: 25px;
    padding: 1px 8px;

}

.optHeader:hover {
    border-top: 2px solid var(--cor5);
    border-bottom: 2px solid var(--cor5);

}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 80px;
}


#imagem {
    width: 35vw;
}

p {
    font-family: 'Barlow', sans-serif;
}

#skill-main {
    font-size: 1.03em;
}

.menu-btn {
    color: black;
    background-color: var(--corbranca);
    line-height: 35px;
    padding: 0px 8px;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.2s;
}

.menu-btn:hover {
    background-color: var(--cor5);
}

#sectionLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    color: black;
}

#btn-projects {
    width: 200px;
    padding: 5px 10px;
    font-size: 1.1em;
    color: white;
    background-color: var(--cor5);
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    transition: 0.3s;
}

#btn-projects:hover {
    color: black;
}

#div-profile {
    text-align: center;
    margin-bottom: 40px;
}

#name {
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 20px;
    transition: 0.5s;
}


#div-skills {
    text-align: center;
}

#title-skills {
    font-size: 1.40em;
    margin-bottom: 15px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 8px;
}

ol,
ul {
    text-align: center;
    padding: 0;
    line-height: 1.1em;
}

li {
    list-style: none;
}

main {
    width: 80vw;
    margin-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
    padding: 0px 110px;
}


/* Começa a página projetos*/

.project-imgs {
    margin-top: 30px;
    width: 400px;
    padding: 10px;
    border: 3px solid rgba(128, 128, 128, 0.486);
    border-radius: 10px;
}