.completed {
    text-decoration: line-through;
}

.selected {
    background-color: grey;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li {
    border: 2px solid antiquewhite;
    padding: 3px;
}
li:hover {
    border: 2px solid black;
}
#div-top {
    margin: auto;
    width: fit-content;
    padding: 20px 0px 15px 0px;
}
ol {
    padding: 50px;
    border-radius: 10px;
    width: 60vw;
    margin: auto;
    height: 50vh;
    background-color: antiquewhite;
    overflow-y: scroll;
}

#btns-updown {
    margin: auto;
    width: fit-content;
    align-items: center;
}


