@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;600;700&display=swap');

:root {
  --corbranca: whitesmoke;
  --cor1: #1d1d1d;
  --cor2: #22252A;
  --cor3: #141414;
  --cor4: #FDBA12;
  --cor5: #5854BF;
  --cor6: rgba(128, 128, 128, 0.486);
  --gradient: linear-gradient(90deg, rgba(139,53,140,1) 0%, rgba(88,84,191,1) 61%);
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Barlow', sans-serif;
}

.App {
  background-color: #0D0D0D;
  background-image: url('/src/assets/banner-bg.png');
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 50px;
  color: white;
}
