.color {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: 3px;
}
.color:hover{
    cursor: pointer;
}
.selected{
    border: 2px solid grey;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#inputs{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
#pixel-board{
    margin-top: 25px;
}
#color-palette{
    border: 1px solid black;
    padding: 16px 20px;
}
#cor1 {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  display: inline-block;
}

#cor3 {
  background-color: #025940;
}

#cor4 {
  background-color: #01261C;
}

#pixel-board > div{
    width: fit-content;
    height: fit-content;
}
.pixel{
    width: 40px;
    height: 40px;
    border: 1px solid black;
    display: inline-block;
    background-color: white;
}