.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  height: 85%;
  text-align: center;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.welcome-text {
  margin-top: 30px;
  font-size: 1.2rem;
}

img {
  width: 50vw;

}

.illustration {
  animation: float 1.5s infinite;
}

#link-welcome {
  display: none;
}

.link-projects {
  border-radius: 6px;
  margin-top: 20px ;
  display: inline-block;
  padding: 15px 50px;
  color: wheat;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--gradient)
}

.link-projects:hover {
  color: black;
  transition-duration: 0.3s;
}

@keyframes float {
  0% { transform: translateX(0px); }
  50% { transform: translateY(30px); }
}

@media screen and (min-width: 600px)  {
  .main-home {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 35px;
    text-align: center;
  }

  .welcome-container {
    align-items: flex-start;
  }

  #link-welcome {
    display: block;
  }

  .welcome-text {
    margin-top: 0px;
    font-size: 2.5rem;
    line-height: 2.2rem;
  }

  .sub-welcome-text {
    font-size: 2rem;
  }

  img {
    width: 600px;
  }

  .link-projects {
    display: none;
  }
}