:root {
  --corbranca: whitesmoke;
  --cor1: #1d1d1d;
  --cor2: #22252A;
  --cor3: #000000;
  --cor4: #FDBA12;
  --cor5: #FF0000;
  --cor6: rgba(128, 128, 128, 0.486);
}

.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  height: 85%;
  text-align: center;
}

.welcomeText {
  margin-top: 30px;
  font-size: 1.2rem;
}

img {
  width: 65vw;
}

#link-welcome {
  display: none;
}

.link-projects {
  border-radius: 6px;
  margin-top: 20px ;
  display: inline-block;
  padding: 15px 50px;
  color: wheat;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background: var(--cor5);
}

.link-projects:hover {
  color: black;
  transition-duration: 0.3s;
}

@media screen and (min-width: 600px)  {
  .main-home {
    flex-direction: row;
    justify-content: space-evenly;
    gap: 35px;
    text-align: center;
  }

  #link-welcome {
    display: block;
  }

  .welcomeText {
    margin-top: 0px;
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  img {
    width: 40vw;
  }

  .link-projects {
    display: none;
  }
}