
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;600;700&family=Poppins:wght@100;200;400&display=swap');

*{
    margin: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: rgb(253, 251, 251);
}
#cabecalho{
    position: fixed;
    top: 0;
    background-color: #2EC18B;
    width: 100vw;
    height: 120px;
    text-align: center;
}
#titulo{
    font-family: 'Barlow', sans-serif;
    margin-top: 15px;
}
nav{
    margin-top: 20px;
}
nav > a{
    padding: 8px 16px;
    background-color: #A2D128;
    border-radius: 5px;
    color: black;
    transition-duration: .3s;
    font-family: 'Barlow', sans-serif;;
    font-weight: 600;
}
nav > a:hover{
    background-color: #29D967;
}
nav > #a1{
    margin-right: 15px;
}
nav > #a2{
    margin-left: 15px;
}
#section-1{
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lists{
    display: flex;
    margin-top: 30px;
    background-color: #42DBD2;
    padding: 20px 60px 20px 20px;
    border-radius: 20px 20px 0px 20px;
}
#minha_foto{
    width: 250px;
    margin-top: 150px;
    border: 5px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
#link_git{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    color: black;
}

article{
    line-height: 25px;
    width: 350px;
    margin-top: 35px;
    background-color: #42DBD2;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px 20px 20px 20px;
}

aside{
    width: 280px;
    margin-top: 35px;
    background-color: #42DBD2;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px 20px 20px 20px;
}
.titulos-secundarios{
    margin-bottom: 10px;
}

#secao-articles{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
footer{
    margin-top: 50px;
    margin-bottom: 80px;
    height: 100px;
    text-align: center;
}

table{
    
    margin: 30px auto 0px auto;
}
table, th, td{
    border: 1px solid black;
}